/*.suo
/glDialog/*.opensdf
/glDialog/*.user
/glDialog/ipch
/glDialog/*.sdf
/Debug
/glDialog/Debug
/glDialog/Release
/glDialog/*.aps
/*.opensdf
/*.sdf
/ipch
/Release/*.exp
/Release/*.exe
/Release/*.lib
/Release/*.pdb
/glDialog/*.pdb
