/*.suo
/glDialog/*.opensdf
/glDialog/*.user
/glDialog/*.filters
/glDialog/ipch
/glDialog/*.sdf
/Debug
/glDialog/Debug
/glDialog/Release
/glDialog/*.aps
/*.opensdf
/*.sdf
/ipch
/Release/*.pdb
/Release/*.exe
/BoundingBox/Release
/BoundingBox/Debug
/BoundingBox/*.pdb
/Data/*.txt
